.button {
  background-color: var(--color-accent);
  color: var(--color-white);
  border: 0;
  border-radius: 15px;
  padding: var(--space-l);

  transition: all 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-black);
}
